
# Visual Studio Build Folders ################################/.Debug/.ipch/.Release# Visual Studio Cache ########################*.sdf*.suo# Compiled Object files#######################*.pdb*.log*.manifset*.tlog*.obj*.slo*.lo*.o# Compiled Dynamic libraries############################*.so*.dll# Compiled Static libraries############################*.lib*.lai*.la*.a# Executables############################*.exe*.com
